body
{
  background-color: #3c133d;
  font-size: 62,5;
  font-family: 'Lato', sans-serif;
}

.header
{
  width: 900px;
  margin: 0px auto 20px auto;
  padding: 20px;
  background-color: #4d244e;
}

input
{
  float: left;
  width: 300px;
  margin: 0px 10px 0px 10px;
  text-align: center;
  padding: 5px;
  background-color: white;
  outline: 3px dotted #CC99CC;
}

input:focus
{
  background-color: #FFFF99;
}

textarea
{
  float: left;
  height: 18px;
  width: 450px;
  margin: 0px 10px 0px 10px;
  padding: 5px;
  text-align: center;
  background-color: white;
  outline: 3px dotted #CC99CC;
}

textarea:focus
{
  background-color: #FFFF99;
}

button
{
  height: 25px;
  width:150px;
  margin: 10px;
  border: 3px solid #777777;
}

h4
{
  margin: auto;
  font-size: 2.0rem;
  font-size: 20px;
  text-align: center;
  background-color: #4d244e;
  }

.container
{
  height: auto;
  width: 450px;
  margin: auto;
  padding: 20px;
  background-color: #CC99CC;
}

.box h3
{
  font-size: 1.7rem;
  font-size: 17px;
  text-align: center;
}

.box
{
  margin: auto;
  font-size: 1.2rem;
  font-size: 12px;
  text-align: justify;
  text-transform: capitalize;
  outline: 3px dotted #4d244e;
  }

footer
{
  width: 900px;
  margin: 20px auto 0px auto;
  padding: 10px;
  font-size: 1.5rem;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  background-color: #4d244e;
}